@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@100;200;300;400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@100;200;300;400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Work+Sans:wght@400;500&display=swap');

:root {
  font-family: 'Mulish';
  --grey: rgb(160, 160, 160) !important;
  --backgroundColor: white;
  --translucentBackgroundColor: rgba(255, 255, 255, 0.75);
  user-select: none;
  cursor: default;
}

main {
  padding-left: 0px !important;
  padding-top: 2px;
}

input {
  outline: none;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 8px;
  border: 1px solid var(--grey);
  font-family: 'Mulish';
  background-color: var(--backgroundColor);
}

.bottomBar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  box-sizing: border-box;
  background-color: var(--translucentBackgroundColor);
  border-top: 1px solid var(--grey);
  padding: 10px;
  font-size: 13px;
  backdrop-filter: blur(5px);
}

button {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 8px;
  outline: none;
  border: none;
  background-color: transparent;
  border-radius: 10px;
}

.link {
  width: calc(100vw - 16px);
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 12px;
  transition: background 0.2s;
  box-sizing: border-box;
  font-family: 'Mulish';
  text-align: left;
  font-size: 14.5px;
}

h1 {
  font-family: 'Mulish';
}

h3 {
  color: grey;
  font-size: 13px;
  margin-bottom: -15px;
  margin-left: 15px;
}

button:hover {
  transition: background 0.2s;
  background-color: rgba(236, 236, 236);
}

.lightIcon {
  display: unset;
  margin-left: 9px;
}

.darkIcon {
  display: none;
  margin-left: 9px;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: rgb(16, 16, 16);
    color: white;
    --grey: darkgray !important;
    --backgroundColor: rgb(16, 16, 16) !important;
    --translucentBackgroundColor: rgba(16, 16, 16, 0.75) !important 
  }

  button {
    color: white;
  }

  button:hover {
    background-color: rgb(60, 60, 60) !important;
  }

  .lightIcon {
    display: none !important;
  }

  .darkIcon {
    display: unset !important
  }

  h3 {
    color: darkgray !important
  }

  input {
    color: white !important
  }
}